/* common css */
body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #010101;
}
/* common css */
/* header start */
header{
    background: #fcdb00;
    padding: 35px 0;
}
.c_nav{}
.logo{}
.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0 30px !important;
}
.menu ul li:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: #ffffff !important;
} 
/* header end */
/* slider start */
.slider{
    background: #fcdb00;
    padding-bottom: 100px;
}
.c_ind{
    bottom: -85px;
}
.c_ind [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.s_text{
    margin-top: 70px;
    margin-right: 130px;
}
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.s_text h2{
    color: #5a5934;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.s_text p{
    color: #82793e;
    margin-bottom: 35px;
}
.S_icon{}
.s_icon ul li{
    padding-left: 3px;
}
.s_icon ul li i{
    font-size: 42px;
    margin-right: 30px;
    transition: 0.3s;
}
.s_icon ul li i:hover{
    transform: scale(1.2);
}
.s_img{}
.s_img img{}
/* slider end */
/* feature start */
.feature{}
.c-header{
    margin: 120px 0 100px;
}
.c-h1 h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.c-p p{
    font-size: 20px;
    line-height: 27px;
    color:#656a71 ;
}
/* feature end */
/* single item start */
.f_raper{
    margin-bottom: 80px;
}
.f_icon{
    display: flex;
    justify-content: end;
}
.f_icon img{
    width: 35px;
    transition: .3s;
}
.f_icon img:hover{
    transform: scale(1.2);
}
.f_text{

}
.f_text h2{
    font-size: 22px;
    font-weight: 700;
}
.f_text p{
    color: #898989;
    margin-top: 15px;
}
/* single item end */

/* contact start */
.contact{
    background-color: #000000;
    padding: 95px 0 120px;
}
/* 1st text row */
.con-header{
    margin: 0 0 30px;
}
.con-h1 h1{
    color: #ffcc00;
}
.con-p p{

}
/* 2nd submit row */
.fc-padding{
    padding: 10px 30px;

}
.custom-from{
    width: 580px;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999999;
}
.custom-btn{
    width: 130px;
    height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    background-color: #ffcc00;
    text-transform: uppercase;
    border: none;
    transition: .3s;

}
.custom-btn:hover{
    color: #ffffff;
    background-color:#ffcc00;
    border-color: #ffcc00;
    transform: scale(1.05);
}
.custom-btn:last-child:active{
    background-color: #ffcc00;
}
/* 3rd icon row */
.custom-icon{
    margin-top: 30px;
}
.custom-icon ul{

}
.custom-icon ul li{
    margin-right: 8px !important;
    transition: .3s;
}
.custom-icon ul li a{
    margin-right: 12px ;
    font-size: 42px;
    color: #ffcc00;
    transition: .3s;
}
.custom-icon ul li:hover{
    transform: scale(1.2);
}
.custom-icon ul li a:hover{
    color: #ffffff;
}
/* contact end */
/* footer start */
.footer{
    background-color: #000000;
    padding-bottom: 130px;
}
.custom-footer{
    
}
.custom-footer p{

}
.custom-footer p a{
    color: #ffffff;
}
.custom-footer p a:hover{
    color: #ffcc00;
}
/* footer end */


/* *********** */
.own-name{
    background-color: #000000;
}
.own-name p{
    color: #ffffff;
}
/* *********** */









